.landing-top
.chimein-welcome
  %img{src: image_url('chime.png')}
  %h1.chimein-title Chime In
  %p Welcome to Chime in. Chime in to make this world a safer place to be
  %a.button{href: new_user_session_path} Sign In
  .signup
    New User?
    %a{href: new_user_registration_path} Sign Up
