// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing-top{
  margin-bottom: 80px;
}

.chimein-title{
  font-size: 80px;
  color: #FF6666;
}
.chimein-welcome{
  text-align: center;
}

.button{
 background: #FF6666;
  padding: 30 70px;
}