%br
.row
  %table(width='100%')
    %tr
      %td{style: "text-align: center"}
        %img{src: 'http://static1.squarespace.com/static/51f82234e4b097de73d1a373/t/54310f22e4b0c2e1c2ebda31/1412501282486/Annie.jpg?format=750w', alt: 'Not Found'}
    %tr
      %td
        %strong
          =link_to('ANNIE CLARK', 'http://endrapeoncampus.org/our-team/')
        %br
        %strong Contact:
        ='123-456-7890'
        %br
        %strong Website:
        =link_to('http://endrapeoncampus.org/our-team/')
        %br
        %strong About:
        ='ANNIE CLARK is a co-founder of Ending Rape On Campus(EROC), and a lead complainant in the Title IX and Clery complaints against the University of North Carolina at Chapel Hill,where she completed a B.A. in Political Science.She has a graduate certificate in business, and is a former administrator at the University of Oregon. After directly working with New York Sen. Kirsten Gillibrand, she helped write the Bi-Partisan Campus Safety and Accountability Act. She has helped more than 100 victims in the past year.'

        %br
        %br
        %br
        %a.button{href: organizations_url}Share your story with Annie