.row
  #map-canvas
%br
.row
  %table(width='100%')
    %tr
      %th
        Name
      %th
        Contact
      %th
        Description
      %th
    -@organizations.each do |x|
      %tr
        %td= x.name
        %td= x.phone
        %td= x.description
        %td
          %img{src: x.image_url, alt: 'Not Found'}


%script{src: "https://maps.googleapis.com/maps/api/js"}
:javascript
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(44.5403, -78.5463),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
  }
  google.maps.event.addDomListener(window, 'load', initialize);








